http:
  fcgi:
    address: tcp://0.0.0.0:9000
  workers:
    user: "azuracast"
    command:  "php ../www/util/psr-worker.php"
    pool:
{{if eq .Env.APPLICATION_ENV "development"}}
      numWorkers: 1
      maxJobs: 1
{{else}}
      numWorkers: {{ default .Env.PHP_FPM_MAX_CHILDREN "5" }}
      maxJobs: 100
{{end}}